@charset "UTF-8";

#conteiner_login{
  width: 100%;
  height: auto;

   display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  overflow: hidden;

  margin: 0%;
  padding: 0%;

  background-color: #4A4A4A;

  gap: 1em;

  border-radius: 10px;
}

form{
  width: 80%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;
}

label{
  
  margin-right: auto;
  margin-left: .7em;

  font-size: 1.2em;

  color: white;
  
}

input {
  width: 90%;
  height: 3em;

  margin-bottom: 1em;
  border-radius: 10px;
  padding-right: 40px; 

  text-indent: 0.5em;
  
}

#conteiner_input_senha {
  width: 100%;
  height: 3em;

  display: flex;
  align-items: center;  
  justify-content: center;
  position: relative; 
  
  margin: 0%;
  padding-top: 1%;
}

#conteiner_input_senha input{
  width: 90%;
  height: 90%;
}



#btn_senha {
  width: 10%;

  position: absolute;
  right: .4em;
  top: 50%;
   transform: translateY(-50%);
  

  background: none;
  border: none;
}




